  @import url(https://fonts.googleapis.com/css?family=Pacifico);
	@import url(https://fonts.googleapis.com/css?family=Marcellus+SC);
	@import url(https://fonts.googleapis.com/css?family=Bangers);
	@import "compass/css3";

	header {
  	position: fixed;
    top: 0;
    left: 0;
    background-color: #3498db;
    /*rgba(51, 51, 51, 0.67);*/
    width: 100%;
    height: 40px;
    opacity: .7;
}

  h1 {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: black;
    letter-spacing: 3px;
		padding: 5px;

}

  h2 {
		color: white;
    font-size: 1em;
    display: inline;
		font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

  h3 {
    color: black;
    font-size: 1.5rem;
    display: inline;
		font-family: 'Bangers', cursive;    letter-spacing: 3px;
		padding: 5px;
}

	h4 {
		color: black;
		font-size: 1.8rem;
		font-family: 'Bangers', cursive;
		letter-spacing: 3px;
		padding: 10px;
}
	h5 {
		color: black;
		font-size: 1.5rem;
		font-family: 'Pacifico', cursive;
		letter-spacing: 3px;
		padding: 10px;
	}


  body {
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
    font-size: .8em;
		font-family: 'Marcellus SC', serif;
}

  hr {
    width: 95%;
    color: black;
}

  a {
		font-family: 'Bangers', cursive;
    text-decoration: none;
    font-size: 1em;
    font-style: bold;
}

  nav a {
    background-color: #3498db;
    color:#f1c40f;
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #fff;
    letter-spacing: 2px;
}

  nav a:hover {
    background-color: #e74c3c;
    color:#2ecc71;

}

	aside p {
    font-size: 1em;
    padding: 5px;
    letter-spacing: 3px;
		width: 75%;
		margin-left: 15%;
    font-family: 'Pacifico', cursive;
}

  aside img {
    width: auto;
    padding: 6px;
    height: 200px;
}

	input {
		font-family: 'Bangers', cursive;
}

  footer {
		font-family: 'Bangers', cursive;
    width: 100%;
		color: black;
		text-decoration: none;
}
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
	display: inline;
}

ul.img-list li {
  display: inline-block;
  height: 6rem;
  margin: 0 1em 1em 0;
  position: relative;
  width: 6rem;
	border-radius: 50%;
}


span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;

}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 6rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 6rem;
  opacity: 0;
	border-radius: 50%;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

	#send {
		color: white;
		background-color: black;
		font-family: 'Bangers', cursive;
		font-size: 16px;
}

	#send:hover {
		color: yellow;
}

	#wrapper {
    width: 100%;
}

  #about {
    padding: 5px;
    margin: auto;
    letter-spacing: 3px;
}

	#social img {
		padding: 10px;

}

	#social img:hover {
		-moz-box-shadow: 0 0 10px #ccc;
		-webkit-box-shadow: 0 0 10px #ccc;
		box-shadow: 0 0 10px #ccc;
}

	#comment{
		text-align: left;
		padding:  0.4em;
		padding-bottom:140px;
		width: 300px;
		height: 10px;
}

	.hero {
		width: 100%;
		height: 600px;
		background: url("../images/cover.jpg") no-repeat center center scroll;
		background-size: cover;
}

	 .icon img {
		height: 6rem;
		width: 6rem;
	}

	.content {
		padding: 5px;
		display: inline-block;
	}

	.design {
		padding: 5px;
		display: inline-block;
	}

	.code {
		padding: 5px;
		display: inline-block;
	}

	.flex-container {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row wrap;
	  justify-content: space-around;
	}

	.flex-container img{
		width: 220px;
		height: 200px;
		border-radius: 2%;
    border: 1px solid white;
    box-shadow: 5px 10px 5px #888888;
	}

	.flex-container img:hover {
		-moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 90px #ccc;

	}

	.flex-item {
	  padding: 20px;
	  width: 250px;
	  height: 150px;
	  margin-top: 5px;
	  line-height: 140px;
	  text-align: center;

	}

	.skills {
		height: 23rem;
		width: 20rem;

	}




/*PROJECTS*/


  .clearfix:after {
  	visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;

}

/*mobile/tablet*/
@media only screen and (max-width: 768px) {

  #wrapper {
    float: none;
    width: auto;
}

  body {
    font-size: .85em;
    letter-spacing: 1px;
}

  aside img {
    width: auto;
    height: 10em;
}

  nav a {
    display: block;
    text-align: center;
    margin: 0;
    font-size: .6em;
    letter-spacing: 2px;
}

  h1, h2, h3, h4 {
    text-align: center;
    font-size: 1.1em;
}

  footer {
    font-size: .8em;
    padding: 5px;
}

/*#projects a {
	height: 120px;
	width: 150px;
	text-align: center;
}*/

#projects img {
	height: 120px;
	width: 150px;
	text-align: center;
}



@media only screen and (max-width: 480px){

  #wrapper {
    width: auto;
    float: auto;
}

  body {
    font-size: .5em;
}


  aside img {
    width: auto;
}

  nav a {
    display: block;
    text-align: center;
    margin: 0;
    font-size: .6em;
    letter-spacing: 2px;
}

  h1, h2, h3, h4 {
    text-align: center;
    font-size: 1em;
}

  footer {
    font-size: .7em;
    padding: 3px;
}

}
