	@import url(https://fonts.googleapis.com/css?family=Poiret+One);
  @import url(https://fonts.googleapis.com/css?family=Megrim);
  @import url(https://fonts.googleapis.com/css?family=Pacifico);
	@import url(https://fonts.googleapis.com/css?family=Marcellus+SC);

	@import url(https://fonts.googleapis.com/css?family=Bangers);


	header {
  	position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.67);
    width: 100%;
    height: 39px;
}

  h1 {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: black;
    letter-spacing: 3px;
		padding: 5px;

}

  h2 {
		color: white;
    font-size: 1em;
    display: inline;
		font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

  h3 {
    color: black;
    font-size: 1.5rem;
    display: inline;
		font-family: 'Bangers', cursive;    letter-spacing: 3px;
		padding: 5px;
}

	h4 {
		color: black;
		font-size: 1.5rem;
		font-family: 'Bangers', cursive;
		letter-spacing: 3px;
		padding: 10px;
}


  body {
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
    font-size: .9em;
		font-family: 'Marcellus SC', serif;
}

  hr {
    width: 90%;
    color: black;
}

  a {
		font-family: 'Bangers', cursive;
    text-decoration: none;
    font-size: 1em;
    font-style: bold;
}

  nav a {
    color: yellow;
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #fff;
    letter-spacing: 2px;
}

  nav a:hover {
    background-color: black;

}

	aside p {
    font-size: 1.1em;
    padding: 15px;
    letter-spacing: 3px;
    font-family: 'Pacifico', cursive;
}

  aside img {
    width: auto;
    padding: 6px;
    height: 200px;
}

input{
		font-family: 'Bangers', cursive;
}

  footer {
		font-family: 'Bangers', cursive;
    width: 100%;
		color: black;
		text-decoration: none;
}

	#send{
		color: white;
		background-color: black;
		font-family: 'Bangers', cursive;
		font-size: 16px;
}

	#send:hover {
		color: yellow;
}

	#wrapper {
    width: 100%;
}

  #about {
    padding: 10px;
    margin: auto;
    width: 70%;
    line-height: 35px;
    letter-spacing: 3px;
}

	#social img {
		padding: 10px;

}

	#social img:hover {
		-moz-box-shadow: 0 0 10px #ccc;
		-webkit-box-shadow: 0 0 10px #ccc;
		box-shadow: 0 0 10px #ccc;
}

	#projects p {
		width: 30%;
		float: right;
		margin-right: 35%;

}

	#comment{
		text-align: left;
		padding:  0.4em;
		padding-bottom:140px;
		width: 300px;
		height: 10px;
}

	.hero {
		width: 100%;
		height: 600px;
		background: url("../images/image.jpg") no-repeat center center scroll;
		background-size: cover;
}


	.brunchBox {
		height: 150px;
		width: 220px;
		margin-left: 5%;
		padding: 3px;

}

	.brunchBox img {
		height: 150px;
		width: 220px;

}

	.brunchBox:hover {
		-moz-box-shadow: 0 0 10px #ccc;
		-webkit-box-shadow: 0 0 10px #ccc;
		box-shadow: 0 0 90px #ccc;
}

	.blockBox {
		height: 190px;
		width: 150px;
		margin-left: 5%;

}

	.blockBox img {
		height: 190px;
		width: 150px;

}

	.blockBox:hover {
		-moz-box-shadow: 0 0 90px #ccc;
		-webkit-box-shadow: 0 0 90px #ccc;
		box-shadow: 0 0 90px #ccc;

}

	.musicBox {
		height: 190px;
		width: 200px;
		margin-left: 5%;

}

	.musicBox img {
		height: 190px;
		width: 200px;

}

	.musicBox:hover {
		-moz-box-shadow: 0 0 90px #ccc;
		-webkit-box-shadow: 0 0 90px #ccc;
		box-shadow: 0 0 90px #ccc;

}
	.reviveBox {
		height: 200px;
		width: 260px;
		margin-left: 5%;

}

	.reviveBox img {
		height: 200px;
		width: 260px;

}

	.reviveBox:hover {
		-moz-box-shadow: 0 0 110px #ccc;
		-webkit-box-shadow: 0 0 110px #ccc;
		box-shadow: 0 0 110px #ccc;

}

  .clearfix:after {
  	visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;

}

/*mobile/tablet*/
@media only screen and (max-width: 768px) {

  #wrapper {
    float: none;
    width: auto;
}

  body {
    font-size: .85em;
    letter-spacing: 1px;
}

  aside img {
    width: auto;
    height: 10em;
}

  nav a {
    display: block;
    text-align: center;
    margin: 0;
    font-size: .6em;
    letter-spacing: 2px;
}

  h1, h2, h3, h4 {
    text-align: center;
    font-size: 1.1em;
}

  footer {
    font-size: .8em;
    padding: 5px;
}


@media only screen and (max-width: 480px){

  #wrapper {
    width: auto;
    float: auto;
}

  body {
    font-size: .5em;
}


  aside img {
    width: auto;
}

  nav a {
    display: block;
    text-align: center;
    margin: 0;
    font-size: .6em;
    letter-spacing: 2px;
}

  h1, h2, h3, h4 {
    text-align: center;
    font-size: 1em;
}

  footer {
    font-size: .7em;
    padding: 3px;
}

}
